<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainNet">
        <activity
            android:name=".notifikasi.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".giat.GiatActivity"
            android:exported="false" />
        <activity
            android:name=".giat.TambahGiatActivity"
            android:exported="false" />
        <activity
            android:name=".cuti.CutiActivity"
            android:exported="false" />
        <activity
            android:name=".ScanAsetActivity"
            android:exported="false" />
        <activity
            android:name=".survey.SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".cuti.TambahCutiActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresensiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />

        <service
            android:name=".notifikasi.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>